<template name="Guestbook_Add">
  <div class="{{styles.guestbook_add}} text-center">
    <div>
      {{> Nav links=links}}
    </div>
    <div>
      <h1 class="{{styles.title}}">Adding a user review</h1>
      <div>
        {{#if currentUser}}
        <div>
          <div class="row">
            <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-left">
              <h3 class="text-center">Don't :</h3>
              <ul>
                <li>insult</li>
                <li>post links</li>
                <li>spam</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <p class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">You can only post one review !</p>
          </div>
          <div class="clearfix"></div>
          {{#autoForm schema=formSchema id="guestbook--add_entry_form" validation="keyup" type="method" meteormethod="server/postEntry"}}
          <fieldset>
            {{> afQuickField name='text' rows=10}}
          </fieldset>
          <button type="submit" class="btn btn-primary">Add your review !</button>
          {{/autoForm}}
        </div>
        {{else}}
        <div>
          <h2>(ノಠ益ಠ)ノ彡┻━┻</h2>
          <h3>Please log in to add a new entry and refresh the page.</h3>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
