<template name="Guestbook">
  <div class="{{styles.guestbook}} text-center">
    <div>
      {{> Nav links}}
    </div>
    <div>
      <h1 class="{{styles.title}}">Users reviews</h1>
      <div class="{{styles.entry_add}}"><a href="{{pathFor route='Guestbook_Add'}}">Add a review</a></div>
      <div class="{{styles.status}}">
        {{> GuestbookAddStatus}}
      </div>
      <div class="{{styles.entries_count}}"><h4>{{total_entries}} reviews</h4></div>
      <div>
        {{#each entries}}
          <div class="{{styles.entry}}" id="entry{{number}}">
            <div class="{{styles.entry_text}} text-left">
              {{text}}
            </div>
            <div class="{{styles.entry_details}} text-right">
              <a href="#entry{{number}}">#{{number}}</a> -
              {{#if isTwitter author}}
                <a href="http://www.twitter.com/{{author}}">{{author}}</a>
              {{else}}
                {{author}}
              {{/if}} - {{> FormatedDate dateToFormat}}
            </div>
            {{#if answer}}
              <hr/>
              <div class="{{styles.entry_answer}}">
                <p><b>ADMIN ANSWER</b> : {{answer}}</p>
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
