<template name="Nav">
  <div class="{{styles.nav}}">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar--collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{pathFor route='Home'}}" class="navbar-brand">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="nav-bar--collapse">
          <ul class="nav navbar-nav navbar-left">
            {{#each link in links.left}}
              {{#if link.template}}
                {{> UI.dynamic template=link.template data=link.data}}
              {{else}}
                {{#if link.data}}
                  <li><a href="{{pathFor route=link.route data=link.data}}">{{link.name}}</a></li>
                {{else}}
                  <li><a href="{{pathFor route=link.route}}">{{link.name}}</a></li>
                {{/if}}
              {{/if}}
            {{/each}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{#each link in links.right}}
              {{#if link.template}}
                {{> UI.dynamic template=link.template data=link.data}}
              {{else}}
                {{#if link.data}}
                  <li><a href="{{pathFor route=link.route data=link.data}}">{{link.name}}</a></li>
                {{else}}
                  <li><a href="{{pathFor route=link.route}}">{{link.name}}</a></li>
                {{/if}}
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>
