<template name="Footer">
  <div class="{{styles.footer}} text-center">
    <div class="{{styles.content}} well" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="USD" />
      <h4>This website provides item sets for $<span itemprop="price">0</span> and will be FREE forever.</h4>
      <h4>Don't forget to share if you like this project.</h4>
      <p>"LoL item sets generator" isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends.<br/>League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
      <p>Inspired from Champion.gg | Source : <a href="https://github.com/league-of-legends-devs/lol-item-sets-generator.org">GitHub</a> | Background by <a href="http://arixev.deviantart.com/">Arixev</a> | Join us on <a href="https://slack.lol-item-sets-generator.org/" style="color: #E01563; font-weight: bold;">Slack</a></p>
      <p><a href="{{pathFor route='Privacy'}}">Privacy</a></p>
      <p>CONTACT : <a href="mailto:ilshidur@lol-item-sets-generator.org">ilshidur@lol-item-sets-generator.org</a></p>
      <div id="donate">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="5AWK4EC8GETPC">
          <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal donation">
          <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
  </div>
</template>
