/*****************************************************************************/
/* Partners: Style */
/*****************************************************************************/
.partners {
}

.partners code {
  background-color: rgb(163, 94, 12);
  padding: 2px 8px 2px 8px;
  color: white;
}
